@font-face{
    font-family: Inter-ExtraBold;
    src: url(./assets/fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: Inter-Regular;
    src: url(./assets//fonts/Inter-Regular.ttf);
}

.logo{
    font-family: Inter-ExtraBold;
}

#root{
    font-family: Inter-Regular;
}

#btnRead{
    background-color: #FF5733;
    font-family: Inter-ExtraBold;
    padding: 10px 30px 10px 30px;
    font-size: 15px;
    border: 0;
}

#btnRead:hover{
    transition: 1s;
    background-color: black;
}

.news{
    background-color: rgb(11, 2, 53);
}

.news-side:hover{
    transition: 1s;
    color: #f59f00;
}

#navlink:hover{
    transition: 0.1s;
    color: #f59f00 ;
}

.newsCard:hover{
    transition: 0.5s;
    color: #f59f00;
}

.img-news{
    height: 150px;
    object-fit: cover;
}